<section id="learning">
  <div class="wrap sec">
    <app-section-head [eyebrow]="'portfolio_education_eyebrow' | translate" [heading]="'portfolio_education_title' | translate" />
    <div class="edu">
      @for (entry of entries(); track entry.titleKey) {
        <div class="edu__row" appRevealOnScroll>
          <app-icon [name]="entry.icon" />
          <b>{{ entry.titleKey | translate }}</b>
          <span>{{ entry.placeKey | translate }}</span>
          <em>{{ entry.whenKey | translate }}</em>
        </div>
      }
    </div>
  </div>
</section>
