<section id="learning">
  <div class="wrap sec">
    <app-section-head [eyebrow]="'portfolio_education_eyebrow' | translate" [heading]="'portfolio_education_title' | translate" />
    <div class="edu">
      @for (entry of entries(); track entry.title.en) {
        <div class="edu__row" appRevealOnScroll>
          <app-icon [name]="entry.icon" />
          <b>{{ entry.title | localizedText }}</b>
          <span>{{ entry.place | localizedText }}</span>
          <em>{{ entry.when | localizedText }}</em>
        </div>
      }
    </div>
  </div>
</section>
