<section id="stack">
  <div class="wrap sec">
    <app-section-head
      [eyebrow]="'portfolio_stack_eyebrow' | translate"
      [heading]="'portfolio_stack_title' | translate"
      [lede]="'portfolio_stack_lede' | translate"
    />
    <div class="skills">
      @for (group of skillsService.groups(); track group.label.en) {
        <div class="skill" appRevealOnScroll>
          <div class="skill__k">
            <app-icon [name]="group.icon" />
            {{ group.label | localizedText }}
          </div>
          <div class="chips">
            @for (tech of group.technologies; track tech) {
              <app-chip>{{ tech }}</app-chip>
            }
          </div>
        </div>
      }
    </div>
  </div>
</section>
