@use 'mixins' as m;

:host {
  display: block;
}

footer {
  border-block-start: 0.0625rem solid var(--line);
  padding-block: var(--s5);
  position: relative;
  z-index: 1;
}

.wrap {
  @include m.wrap;
  display: flex;
  flex-wrap: wrap;
  gap: 1.125rem;
  align-items: center;
  justify-content: space-between;
}

.brand {
  height: 2.5rem;
}

footer .mono {
  color: var(--dim);
}
